* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html, body {
  background-color: #11353D;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

header {
  height: 150vh;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (max-width: 500px) {
  header {
    height: 100vh;
  }
}
@media (min-width: 501px) and (max-width: 800px) {
  header {
    height: 260vh;
  }
}

.nav-container {
  width: 100%;
  padding: 3rem;
}
@media (max-width: 500px) {
  .nav-container {
    width: 100%;
    padding: 2rem;
  }
}

.nav-container a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #C99B61;
  width: 100%;
  font-size: 20px;
  padding: 5px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline;
}
.nav-container a:hover {
  text-decoration: underline;
  letter-spacing: 5px;
}
@media (max-width: 500px) {
  .nav-container a {
    font-size: 15px;
    display: inline-block;
    margin-left: 10%;
  }
}
@media (min-width: 501px) and (max-width: 800px) {
  .nav-container a {
    display: inline-block;
    font-size: 17px;
    margin-left: 10%;
  }
}

.machine {
  display: block;
  background-color: #fffaf3;
  height: 98vh;
  width: auto;
}
@media (max-width: 500px) {
  .machine {
    height: 50vh;
  }
}
@media (min-width: 501px) and (max-width: 800px) {
  .machine {
    height: 120vh;
  }
}

.our-menu-box {
  background-color: #fffaf3;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
}
@media (max-width: 500px) {
  .our-menu-box {
    height: 70vh;
  }
}
@media (max-width: 800px) {
  .our-menu-box {
    height: 70vh;
  }
}

.contact-info {
  height: 400px;
  width: 100%;
  display: block;
  background: url(../img/coffeeBeans.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (max-width: 500px) {
  .contact-info {
    height: 300px;
  }
}
@media (max-width: 800px) {
  .contact-info {
    height: 300px;
  }
}
.contact-info::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  height: 400px;
  width: 100%;
  object-fit: cover;
  position: absolute;
  display: block;
}
@media (max-width: 500px) {
  .contact-info::before {
    background-color: rgba(0, 0, 0, 0);
  }
}
@media (max-width: 800px) {
  .contact-info::before {
    background-color: rgba(0, 0, 0, 0);
  }
}

.contact-info-box {
  position: relative;
}

.interior {
  height: 120vh;
  width: 100%;
  background-color: #11353D;
}
@media (max-width: 500px) {
  .interior {
    height: 190vh;
  }
}
@media (min-width: 501px) and (max-width: 800px) {
  .interior {
    height: 350vh;
  }
}

footer {
  background-color: #fffaf3;
  height: 17vh;
}
@media (max-width: 800px) {
  footer {
    height: 25vh;
  }
}

.logo img {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-30%, -50%);
  margin-left: 50%;
  margin-top: 25%;
  width: 80%;
  height: auto;
  opacity: 0.7;
}
@media (max-width: 500px) {
  .logo img {
    width: 90%;
    transform: translate(-58%, -50%);
    margin-top: 20%;
  }
}
@media (min-width: 501px) and (max-width: 800px) {
  .logo img {
    width: 100%;
    transform: translate(-50%, -50%);
    margin-top: 20%;
  }
}

.heading-text h1 {
  padding-bottom: 3rem;
  padding-left: 18%;
  display: block;
  margin-top: -50%;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 40px;
  color: #C99B61;
}
@media (max-width: 500px) {
  .heading-text h1 {
    margin-top: -10%;
    font-size: 20px;
    padding-left: 22%;
  }
}
@media (min-width: 501px) and (max-width: 800px) {
  .heading-text h1 {
    margin-top: -20%;
    font-size: 20px;
    padding-left: 30%;
  }
}

.heading-btn {
  width: 170px;
  border: #C99B61 solid 1px;
  background-color: #11353D;
  color: #C99B61;
  margin-left: 18%;
  font-size: 1.2rem;
  padding: 8px;
}
.heading-btn:hover {
  background-color: #C99B61;
  color: #11353D;
  letter-spacing: 2px;
}
@media (max-width: 500px) {
  .heading-btn {
    margin-left: 35%;
  }
}
@media (min-width: 501px) and (max-width: 800px) {
  .heading-btn {
    margin-left: 40%;
  }
}

.heading-container > a:hover {
  border: 1px solid #C99B61;
  font-weight: 600;
  text-shadow: 0 0 10px #C99B61, 0 0 40px #C99B61;
  box-shadow: 0 0 3px #C99B61, 0 0 3px #C99B61;
}

.box img {
  width: 33%;
  height: auto;
  float: right;
  border: 3px solid #C99B61;
  border-radius: 70% 0px 0px 70%;
  position: relative;
}
@media (max-width: 500px) {
  .box img {
    width: 30%;
    border: 1px solid #C99B61;
  }
}
@media (min-width: 501px) and (max-width: 800px) {
  .box img {
    border: 1px solid #C99B61;
    width: 30%;
    height: auto;
  }
}

.machine .our-machine-subtitle h3 {
  font-size: 130px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #C99B61;
  letter-spacing: 50px;
  position: absolute;
  margin-top: 20%;
  margin-left: 5%;
  z-index: 1;
}
@media (max-width: 500px) {
  .machine .our-machine-subtitle h3 {
    font-size: 30px;
    letter-spacing: 12px;
  }
}
@media (min-width: 501px) and (max-width: 800px) {
  .machine .our-machine-subtitle h3 {
    font-size: 35px;
    letter-spacing: 15px;
  }
}

.our-machine-subtitle p {
  position: absolute;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #C99B61;
  font-size: 30px;
  margin-top: 30%;
  margin-left: 25%;
  z-index: 1;
}
@media (max-width: 500px) {
  .our-machine-subtitle p {
    font-size: 10px;
    margin-top: 30%;
    margin-left: 20%;
  }
}
@media (min-width: 501px) and (max-width: 800px) {
  .our-machine-subtitle p {
    font-size: 20px;
    margin-top: 30%;
    margin-left: 10%;
  }
}

#tds table, #tds tr, #tds td {
  color: #C99B61;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 30px;
  border-bottom: 1px dashed #C99B61;
  letter-spacing: 2px;
}
@media (max-width: 800px) {
  #tds table, #tds tr, #tds td {
    font-size: 18px;
  }
}

.container img {
  display: block;
  width: 70%;
  height: auto;
  border: 3px solid #C99B61;
  border-radius: 0px 70% 70% 0px;
}
@media (max-width: 500px) {
  .container img {
    width: 120%;
    border: 1px solid #C99B61;
  }
}
@media (min-width: 501px) and (max-width: 800px) {
  .container img {
    width: 80%;
    border: 1px solid #C99B61;
  }
}

.our-menu {
  margin-right: 20%;
}

.our-menu h5 {
  font-size: 120px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #C99B61;
  letter-spacing: 20px;
  margin-bottom: 50px;
}
@media (max-width: 500px) {
  .our-menu h5 {
    font-size: 40px;
    margin-left: 30%;
  }
}
@media (min-width: 501px) and (max-width: 800px) {
  .our-menu h5 {
    font-size: 50px;
  }
}

@media (max-width: 500px) {
  #tds {
    margin-left: 30%;
  }
}

.contact-info-box {
  display: block;
}
.contact-info-box h5 {
  font-size: 40px;
  color: #C99B61;
  font-family: Georgia, "Times New Roman", Times, serif;
  display: flex;
  align-content: center;
  justify-content: center;
  padding-top: 50px;
}
@media (max-width: 500px) {
  .contact-info-box h5 {
    font-size: 20px;
  }
}
@media (min-width: 501px) and (max-width: 800px) {
  .contact-info-box h5 {
    font-size: 30px;
  }
}

.input-box, .icon-box {
  display: flex;
  align-content: center;
  justify-content: center;
}

.input-box {
  display: inline-block;
  width: 100px;
  margin-left: 45%;
  color: #C99B61;
  font-size: 20px;
  margin-top: 20px;
}
@media (max-width: 500px) {
  .input-box {
    margin-left: 35%;
  }
}
@media (min-width: 501px) and (max-width: 800px) {
  .input-box {
    margin-left: 40%;
  }
}

#name, #email {
  margin: 5px;
  border: #C99B61 solid 1px;
  background-color: rgba(0, 0, 0, 0.3);
}

#submit {
  width: 85px;
  height: 25px;
  margin-top: 10px;
  margin-left: 33%;
  margin-bottom: 20px;
  border: #C99B61 solid 1px;
  background-color: rgba(0, 0, 0, 0.3);
  color: #C99B61;
  cursor: pointer;
}
#submit:hover {
  background-color: #C99B61;
  color: #11353D;
  letter-spacing: 2px;
}

.icon-box a {
  color: #C99B61;
  font-size: 30px;
  padding: 10px;
}
@media (max-width: 500px) {
  .icon-box a {
    font-size: 20px;
  }
}
@media (max-width: 700px) {
  .icon-box a {
    font-size: 20px;
  }
}

.interior-imgs img {
  width: 33.1111111%;
  height: 40rem;
  display: inline-block;
  border: 1px solid #C99B61;
  border-radius: 50px 50% 50% 50px;
  opacity: 0.8;
}
@media (max-width: 500px) {
  .interior-imgs img {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    object-fit: cover;
    border: 0px;
    border-radius: 0px;
    opacity: 0.8;
    margin-left: 24.5%;
    padding: 10px;
  }
}
@media (min-width: 501px) and (max-width: 800px) {
  .interior-imgs img {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    object-fit: cover;
    border: 0px;
    border-radius: 0px;
    opacity: 0.8;
    margin-left: 24.5%;
    padding: 10px;
    margin-top: 15%;
  }
}

.interior-box {
  display: block;
}
.interior-box h3 {
  margin-top: 10%;
  margin-left: 7%;
  color: #C99B61;
  font-size: 120px;
  letter-spacing: 10px;
}
@media (max-width: 500px) {
  .interior-box h3 {
    font-size: 50px;
  }
}
@media (max-width: 800px) {
  .interior-box h3 {
    font-size: 70px;
  }
}
.interior-box p {
  color: #fffaf3;
  margin-left: 12%;
  font-size: 20px;
  letter-spacing: 2px;
  margin-bottom: 7%;
}
@media (max-width: 500px) {
  .interior-box p {
    font-size: 15px;
  }
}

h4 {
  padding-top: 2rem;
  text-align: center;
  font-size: 1.5rem;
  color: #C99B61;
}
@media (max-width: 500px) {
  h4 {
    padding-top: 1rem;
    font-size: 20px;
  }
}

.footer p {
  text-align: center;
  color: #C99B61;
}
@media (max-width: 500px) {
  .footer p {
    font-size: 15px;
  }
}

.social-links {
  width: fit-content;
  margin: 1rem auto;
}

.social-links a i {
  text-align: center;
  color: #C99B61;
  font-size: 1.2rem;
  padding-right: 10px;
  margin-bottom: 5px;
}
@media (max-width: 500px) {
  .social-links a i {
    font-size: 1rem;
  }
}

/*# sourceMappingURL=main.css.map */
